* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

.day {
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.lesson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.name {
    font-size: 20px;
    font-weight: bold;
}